@page
@using System.Security.Cryptography
@model WebLinqExercises.Pages.NewsModel
@{
}

<form method="POST">
    <input type="text" name="query"/>
    <button type="submit">Sök</button>
</form>

@foreach (var news in Model.KrisInfoLista)
{
    <h2>@news.Title</h2>
    <p>@news.Text</p>
    <img src="@news.ImageUrl"/>
}