@page
@model WebLinqExercises.Pages.RegisterModel
@{
}

<form method="POST">
    <label>Ange username:</label>
    <input type="text" name="username"/>
    <label>Ange password:</label>
    <input type="password" name="password"/>
    <label>Birthdate</label>
    <input type="date" name="datum"/>
    
    <label>Är du säker</label>
    <input type="checkbox" name="sure"/>
    

    <button type="submit">Spara</button>

</form>
